<% provide(:tit, 'gioi thieu') %>
<!DOCTYPE html>
<html>
  <body>
    <h1>Gioi thieu</h1>
    <p>
      Em ten la Phan Quoc Tien,em dang la sinh vien truong<a href="http://hust.edu.vn/web/vi/home"> Bach Khoa Ha Noi</a>.Day la blog dau tien em viet bang ngon ngu ruby on rails
      
    </p>
  </body>
</html>
