<% provide(:tit, 'Lien he') %>
<!DOCTYPE html>
<html>
  <body>
    <h1>Lien He</h1>
    <p>
      Lien he qua <a href="https://www.facebook.com/tien.phan.149">Facebook</a>
      hoac qua so dien thoai 01666265241
    </p>
  </body>
</html>
